# ==========================================
# Configurações do Banco de Dados (Supabase)
# ==========================================
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# ==========================================
# Configurações de Email (Brevo)
# ==========================================
BREVO_API_KEY=

# ==========================================
# Configurações de IA (Google Gemini ou Groq)
# ==========================================
AI_API_KEY=

# ==========================================
# Configurações do Servidor
# ==========================================
PORT=3000
NODE_ENV=development
